header.header
    .head__column
        a(href=routes.home)
            i.fab.fa-youtube
    .head__column
        ul
            li
                a(href=routes.join) Join
            li
                a(href=routes.login) Login